.section-footer {
    background: var(--footer);
    min-height: calc(437px - 140px);
    @media(max-width:$breackpoint_laptop){
        margin-top: 58px;
    }
}
.footer {
    padding: 70px 0;
		// .footer__item
		&__item {
            display: flex;
            @media(max-width:$breackpoint_sm){
                display: block;
            }
		}

		// .footer__left

		&__left {
		}

		// .footer__logo

		&__logo {
		}
        // .footer__wrapper

        &__wrapper{
            
        }
		// .footer__right

		&__right {
            width: 900px;
            padding-left: 84px;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 84px;
            @media(max-width:$breackpoint_descktop){
                padding-left: 64px;
                gap: 30px;
            }
            @media(max-width:$breackpoint_laptop){
                padding-left: 40px;
                gap: 20px;
            }
            @media(max-width:$breackpoint_sm){
                padding-top: 58px;
                padding-left: 0;
                grid-template-columns: repeat(2,170px);
                column-gap: 80px;
                grid-template-rows: repeat(2,168px);
            }
            @media(max-width:$breackpoint_phone){
                grid-template-columns: repeat(2,150px);
                column-gap: 0px;
            }
		}

		// .footer__header

		&__header {
            font-style: normal;
            font-weight: 400;
            font-size: 19.6259px;
            line-height: 125.68%;
            letter-spacing: -0.02em;
            color: #A3A3A3;
            @media(max-width:$breackpoint_laptop){
               font-size: 17px;
            }
		}

		// .footer__list

		&__list {
            padding-top: 19px;
            display: flex;
            flex-direction: column;
            gap: 12px;
		}

		// .footer__list-item

		&__list-item {
            transition: color 0.5s;
            & a:hover{
                color:#7a7676;
            }
            @media(max-width:$breackpoint_laptop){
                font-size: 14px;
             }
		}

        // .footer__bottom

        &__bottom{
            display: flex;
            padding-top: 110px;
            justify-content: space-between;
        }
		// .footer__number

		&__number {
            & img{
                @media(max-width:$breackpoint_phone){
                    width: 124px;
                }
            }
		}

		// .footer__social

		&__social {
            display: flex;
            gap: 12px;
            @media(max-width:$breackpoint_laptop){
                padding-right: 10px;
            }
            & img{
                width: 25px;
                height: 25px;
                transition: transform 0.5s;
                &:hover{
                    transform: scale(1.1);
                }
                @media(max-width:$breackpoint_phone){
                    width: 19px;
                    height: 19px;
                }
            }
		}
}
