.section-information{
    padding-top: 30px;
}
.information {
            

            // .information__back

            &__back{
                  & img{
                        width: 60px;
                        @media(max-width:$breackpoint_sm){
                              width: 40px;
                        }
                        @media(max-width:$breackpoint_phone){
                              width: 30px;
                        }
                  }
            }

		// .information__header

		&__header {
                  font-style: normal;
                  font-weight: 800;
                  font-size: 69.1697px;
                  line-height: 109.5%;
                  color: #FFFFFF;
                  @media(max-width:$breackpoint_laptop){
                        font-size: 50px;
                  }
                  @media(max-width:$breackpoint_sm){
                        font-size: 30px;
                  }
                  @media(max-width:$breackpoint_phone){
                        font-size: 23px;
                  }

                  &-wrapper{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                  }
            }

		// .information__wrapper

		&__wrapper {
                  padding-top: 20px;
		}

		// .information__list

		&__list {
                  display: flex;
                  flex-direction: column;
                  row-gap: 10px;
		}

		// .information__list-wrap

		&__list-wrap {
            
		}

		// .information__button

		&__button {
                  background:none;
                  width: 95%;
                  height: 45px;
                  text-align: left;
                  padding-left: 30px;
                  font-weight: 700;
                  font-size: 15.3846px;
                  line-height: 108.5%;
                  color: #FFFFFF;

                  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In .SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' fill='%23ffffff' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 240.835 240.835' style='enable-background:new 0 0 240.835 240.835;' xml:space='preserve'%3E%3Cg%3E%3Cpath id='Expand_Less' d='M129.007,57.819c-4.68-4.68-12.499-4.68-17.191,0L3.555,165.803c-4.74,4.74-4.74,12.427,0,17.155 c4.74,4.74,12.439,4.74,17.179,0l99.683-99.406l99.671,99.418c4.752,4.74,12.439,4.74,17.191,0c4.74-4.74,4.74-12.427,0-17.155 L129.007,57.819z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: right;
                  outline: none;
                  background-size: 30px;
                  @media(max-width:340px){
                        font-size: 13px;
                  }

                  &-wrapper{
                        min-width: 410px;
                        width: 60%;
                        background: var(--button);

                        @media(max-width:$breackpoint_phone){
                              font-size: 50px;
                              min-width: 340px;
                        }
                        @media(max-width:340px){
                              font-size: 50px;
                              min-width: 290px;
                        }
                  }
        }

		// .information__button-active

		&__button-active {
                  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In .SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='451.847px' height='451.847px' viewBox='0 0 451.847 451.847' style='enable-background:new 0 0 451.847 451.847;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751 c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0 c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
		}

		// .information__description

		&__description {
                  min-width: 230px;
                  padding: 15px 30px;
                  max-width: 60%;
                  height: auto;
                  @media(max-width:340px){
                        padding: 15px 15px;
                  }
		}

        // .information__social 

        &__social{
            width: 25px;
            height: 25px;

            &-wrapper{
                  padding-top: 5px;
                  display: flex;
                  gap: 25px;
            }
        }

		// .information__paragraph

		&__paragraph {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 20px;
                  color: #A3A3A3;
                  max-width: 90%;
                  @media(max-width:$breackpoint_sm){
                        min-width: 380px;
                        font-size: 12px;
                  }
                  @media(max-width:$breackpoint_phone){
                        min-width: 260px;
                  }
		}

		// .information__proofs

		&__proofs {
		}
}
.hidden {
    display: none;
}
