$container:1300px;

/*
padding 0 25px
*/

$breackpoint_xxl:1332px;
$breackpoint_descktop:1160px;
$breackpoint_laptop:968px;
$breackpoint_sm:708px;
$breackpoint_phone:424px;
$breackpoint_small:281px;

